<h1>SHOW USER PAGE: This is <%= @user.name %>'s show page</h1>
<%= @user.address %><br>
<%= @user.city %><br>
<%= @user.state %><br>
<%= @user.zip %><br>
<%= @user.email %><br>

<!-- <button>Request Friendship</button> -->

<ul>
<% @user.users_events.each do |e| %>
<li>
	<%= link_to e.event.name, event_path(e.event_id) %><br>
	<%= e.event.description %><br>
	<%= e.event.address %><br>
	<%= e.event.city %><br>
	<%= e.event.state %><br>
	<%= e.event.zip %><br>
	<%= e.event.cost %><br><br>
</li>
<% end %>
</ul>

<h2>Events I'm Attending</h2>
<ul>
	<% @event.users.each do |u| %>
	<li>
		<%= u.name %>
	</li>
	<% end %>
</ul>

<%# @user.events.each do |f| %> 
<%#= f.name %>
<%# end %>
