<h1>USER'S SHOW PAGE: This is <%= @user.name %>'s show page</h1>
<%= @user.address %><br>
<%= @user.city %><br>
<%= @user.state %><br>
<%= @user.zip %><br>
<%= @user.email %><br>

<!-- <button>Request Friendship</button> -->
<h1>Events I've Created</h1>
<ol>
<% @user.created_events.each do |e| %>
<li>
	<%#= link_to e.name, event_path(e.event_id) %><br>
	<%= link_to e.name, event_path(e) %><br>
	<%= e.description %><br>
	<%= e.address %><br>
	<%= e.city %><br>
	<%= e.state %><br>
	<%= e.zip %><br>
	<%= e.cost %><br><br>
</li>
<% end %>
</ol>

<h1>Events I'm attending</h1>
<ol>
<% @user.events_attending.each do |f| %> 
<li>
	<%= link_to f.name, event_path(f) %><br>
	<%= f.description %><br>
	<%= f.address %><br>
	<%= f.city %><br>
	<%= f.state %><br>
	<%= f.zip %><br>  
	<%= f.cost %><br><br>
</li>
	<% end %>
</ol>

<h1><%= @user.name %>'s Posting</h1>
<ul>
	<% @user_posting.each do |up| %>
	<li>
		<%= link_to up.title, post_path(up) %>
	</li>
	<% end %>
</ul>











