<h1><%= @event.name %></h1>

<%= image_tag(@event.image_url(:full)) %>

<ul>
	<li>
		<%= @event.name %><br>
		<%= @event.description %><br>
		<%= @event.address %><br>
		<%= @event.city %><br>
		<%= @event.state %><br>
		<%= @event.zip %><br>
		<%= @event.cost %><br>
		<%= @event.attendees %><br>
		<%= @event.start_date %><br>
		<%= @event.end_date %><br>
	</li>
</ul>

<% @event.id do |e| %>
<%= image_tag u.image.url %>
<% end %>


<br>

<% if current_user == @event.creator %>
<%= link_to "Edit Event", edit_event_path %><br>
<% end %>

<% if logged_in? %>
<% unless @user_attending %>
<%= link_to "Join Event", attend_event_path(@event), method: :post %>
<% end %>	
<% end %>

<% if @user_attending %>
<%= link_to "Leave Event", leave_event_path(@event), method: :delete %>
<% end %>

<h4>List of Attendees</h4>
<ul>
	<% @event.users.each do |f| %>
		<li>
			<%= f.name %>
		</li>
	<% end %>
</ul>



<div>
<%= form_for @post do |p| %>

	<div>
		<%= p.label "Title", :title %>
		<%= p.text_field :title %>
	</div>
	<br>
	<div>
		<%= p.label "Body", :body %>
		<%= p.text_area :body %>
	</div>

	<%= hidden_field_tag :event_id, @event.id %>

	
		<%= p.submit "Submit" %>
<% end %>
</div>


<div>
	<% @posting.each do |p| %>
	<li>
		<%= link_to p.title, post_path(p) %>
		 <%#= p.body %><br>
	</li>
	<% end %>
</div>






