<h1>Welcome to <%= @event.name %>'s page</h1>

<ul>
	<li>
		<%= @event.name %><br>
		<%= @event.description %><br>
		<%= @event.address %><br>
		<%= @event.city %><br>
		<%= @event.state %><br>
		<%= @event.zip %><br>
		<%= @event.cost %><br>
		<%= @event.attendees %><br>
		<%= @event.start_date %><br>
		<%= @event.end_date %><br>
	</li>
</ul>

<% if current_user == @user_id %>
<%= link_to "Edit Event", edit_event_path %><br>
<% end %>

<button>Join Event</button><br>
<button>Leave Event</button>

<h4>List of Attendees</h4>





