<h1>SHOW EVENT PAGE: Welcome to <%= @event.name %>'s page</h1>

<ul>
	<li>
		<%= @event.name %><br>
		<%= @event.description %><br>
		<%= @event.address %><br>
		<%= @event.city %><br>
		<%= @event.state %><br>
		<%= @event.zip %><br>
		<%= @event.cost %><br>
		<%= @event.attendees %><br>
		<%= @event.start_date %><br>
		<%= @event.end_date %><br>
	</li>
</ul>

<%#= @event.users %>
<% if current_user == @event.creator %>
<%= link_to "Edit Event", edit_event_path %><br>
<% end %>

<%= link_to "Join Event", attend_event_path(@event), method: :post %>


<h4>List of Attendees</h4>
<ul>
	<% @event.users.each do |f| %>
		<li>
			<%= f.name %>
		</li>
	<% end %>
</ul>



